@charset "UTF-8";
.super_graph {
    color: black;
}

.tab-comments {
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 40px;
  border: 1px solid #333333;
  border-radius: 10px;
  background-color: #a7d3ff;
  max-width: 900px;
  text-align: center;
  color: rgb(85, 85, 85);
}
.check_results {
	max-width: 700px;
	padding: 10px;	
	margin-bottom: 30px;
	margin: auto;
	border: 1px solid #333333;
	border-radius: 10px;
	text-align:center;

}
.tab-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
}

/* ラジオボタンを非表示にする */
.tab-input {
    display: none;
}

/* タブのスタイル */
.tab-labels {
    display: flex;
    border-bottom: 2px solid black;
    
}

.tab-group_left{
  display: flex;
  justify-content: flex-start; /* 左グループは左寄せ */
}

.tab-group_right{
  display: flex;
  justify-content: flex-end;   /* 右グループは右寄せ */
}


.tab-label {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
    border-bottom: none;
    margin-right: 5px;
    border-radius: 8px 8px 0 0;
}
.tab-title {
    max-width: 700px;
	padding: 10px;	
	margin-bottom: 30px;
	margin: auto;
	border: 1px solid #333333;
	border-radius: 10px;
	text-align:center;

}
/* コンテンツエリアのスタイル */
.tab-content {
    display: none;
    border: 2px solid black;
    border-top: 30px;
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* チェックされたタブのスタイル */
#tab1:checked ~ .tab-labels .label1,
#tab2:checked ~ .tab-labels .label2 {
    background: #a7d3ff;
}

.tab-label {
	background: white;
}

/* チェックされたコンテンツを表示 */
#tab1:checked ~ .content1,
#tab2:checked ~ .content2 {
    display: block;
}

.active {
    background-color: #a7d3ff;
    border-bottom: white;
}

.calender_input {
    margin-left: 20px;
}
.calender_button {
    background-color: #dfdfdf;
    border: 1px solid black;
    margin-left: 20px;
}