.mypagetitle {
  position: relative;
  background: #87c3ff;
  box-shadow: 0px 0px 0px 5px #aed5fc;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: rgb(242, 247, 244);
  width: 50%;
  margin: 0 auto; /* ← これで中央に寄せる */
  margin-bottom: 20px;
}

.mypagetitle:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #419cf7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.mypage-box {
    border: 1px solid #ccc;          
    border-radius: 15px;           
    padding: 20px;                   
    margin-bottom: 20px;             
    background-color: #f9f9f9;      
    box-shadow: 2px 2px 8px rgba(252, 251, 251, 0); 
    /* display: flex; */
    width: 40%;
    margin: 0 auto; /* ← これで中央に寄せる */
}

#introduction{
    width: 70%;
    height: 150px;
    resize: vertical;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px; 
  background-color: #ccc; 
  border-radius: 50%;
  margin: 0 auto; /* ← これで中央に寄せる */
  margin-bottom: 100px;
}

.update-button {
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: #4CAF50; /* 緑系の背景色 */
  color: white;
  border: none;
  cursor: pointer;
}


.area-input{
   font-size: 18px;        /* 文字の大きさ */
  padding: 10px;          /* 内側の余白 */
  width: 250px;           /* 幅 */
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 4px;     /* 角丸 */
}