
.userNameSearch{
    font-size: 0.7vw;
    margin-top: 2vw;
    height: 1.2vw;
    display: inline-block;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    border: 0.1vw solid rgb(0, 0, 0);
    border-radius: 1vw;
    color: black;
}
.searchButton{
    height: 2vw;
    width: 3.2vw;
    background-color: #ffffe5;
    border: solid 0.2vw #f08080;
    font-size: 0.7vw;
    border-radius: 1vw;/*角の丸み*/
}
.searchTag{
    border: 0.2vw solid #f08080;
    height: 1.5vw;
    width: 15vw;
    margin-right: 1vw;
    font-size: 1vw;
    color: rgb(119, 53, 53);/*文字色*/
    background: #ffffe5;
    border-radius: 1vw;/*角の丸み*/
}
/*日記の範囲すべて*/
.commentAreaContainer {
    margin-top: 3.5vw;
    gap: 2.5vw;
    display: flex;
    flex-wrap: wrap;
  flex-flow: column;
  align-items: center; /* 垂直方向の中央揃え */
    justify-content: center;
}
/*日記文章範囲*/
.diaryCard {
    margin-top: 3.5vw;
     padding: 1vw; 
     height: 4vw;
     font-size: 1vw;
  width: 46vw;
  background: #ffffe5;
  color: rgb(119, 53, 53);
  border: 0.15vw solid #f08080;
  border-radius: 5vw;
  box-shadow: 0vw 0.14vw 0.28vw rgba(0, 0, 0, 0.1);

}
/*時間*/
.diaryTime{
    font-size: 1.05vw;
    color: rgb(119, 53, 53);
    margin-left: 0.3vw;
    margin-top: 1.1vw;
    float: left;
}
.userImgSearch{
    float: left;
    margin-left: 1.2vw;
}
.searchNickname{
    font-size: 1vw;
    float: left;
    margin-left: 0.4vw;
    margin-top: 1.1vw;
}
/*リアクションスタンプ*/
.reactionIcon{
    margin-top: 0.5vw;
    margin-left: 5vw;
    float: left;
    font-size: 1.3vw;
    background-color: transparent;
    border-style: none;
}
/*💬マーク*/
.commentAll{
    margin-right: 1vw;
    font-size: 1.5vw;
    float: right;
}
/* .commentArea{
    margin: auto;
    font-size: 1.2vw;
    height: 10vw;
    width: 25vw;
    border: 0.2vw solid rgb(0, 0, 0);
    border-radius: 1vw;
    color: black;
} */
.commentCount{
    margin-left: -0.5vw;
    font-size: 0.8vw;
}
.topPage{
    border: solid 0.1vw black; 
    border-radius: 5vw;
    padding-top: 2vw;
    display: block;
    width: 5vw;
    height: 5vw;
    right: 2.5vw;
    bottom: 2vw;
    box-sizing: border-box;
    background: #FFF;
    text-align: center;
    letter-spacing: -0.03vw;
    font-size: 1vw;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: fixed;
}
.topPage::before{
    content: "";
    display: block;
    border-top: 0.1vw solid #333;
    border-right: 0.1vw solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.topPage:hover{
    opacity: 1;
}
a{
    border: none;
    text-decoration: none;
}

input[type="button"],button{
    cursor: pointer;
    background-color: transparent;
    border-style: none;
}