/* 全体の体裁 */
.signup_container{
   
    margin: 30px auto;
    
}

/* 登録ボタン */
#signup{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    border:#6bb6ff;
    border-radius: 50px;
}

.signup_container input{
     padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #000;/*文字色*/
    background: #FFF;
    border: solid 3px #000;/*線*/
    border-radius: 10px;/*角の丸み*/
}



/* トップページに戻る */
a{
    
    color:#fff;
}
