main{
    color: rgb(119, 53, 53);

}

.mtable{
    width: 700px;
    margin: 0 auto; /* 水平中央寄せ */
    display: block; /* ブロック要素として扱う */
}


.diary{
    margin: 50px;
}

.diary_sub{
    width: 700px;
    background: #ffffe5; /* 背景色 */
    color: rgb(119, 53, 53); /* 文字色 */

    border: 2px solid #f08080;  /* 2pxの黒い実線 */
     padding: 20px;  /* 内側の余白 */
    border-radius: 50px;
    margin: 0 auto; /* 水平中央寄せ */
    display: block; /* ブロック要素として扱う */
}


.reactionButton{
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 25px;      /* フォントサイズを大きく */
    cursor: pointer;     /* ポインタの形にする */
}

.reactionButton2{
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 35px;       /* フォントサイズを大きく */
    cursor: pointer;     /* ポインタの形にする */
}