

h3 {
  color: teal;
  font-size: 32px;
  font-weight: bold;
}

.mypage-box {
    border: 1px solid #ccc;          /* 枠線 */
    border-radius: 15px;             /* 角丸 */
    padding: 20px;                   /* 内側の余白 */
    margin-bottom: 20px;             /* ボックス間の余白 */
    background-color: #e8e7e7;       /* 背景色 */
    box-shadow: 2px 2px 8px rgba(252, 251, 251, 0); /* 軽い影 */
    /* display: flex; */
    width: 35%;
    margin: 0 auto; /* ← これで中央に寄せる */
}

h4.section-title {
  color: #ff6600;
  font-weight: bold;
  padding-left: 8px;
}



#updatebutton{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 6px;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 10px;
  background-color: #cffcf6;
}


