<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Springサンプル</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.min.js"></script>
	<script
	  src="https://code.jquery.com/jquery-3.7.1.min.js"
	  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	  crossorigin="anonymous"></script>
</head>
<body class="w-75 mx-auto">
	<th:block th:if="${message != null && message != ''}">
		<div class="alert alert-primary" role="alert"><span th:text="${message}"></span></div>
	</th:block>
    <button type="button" class="btn btn-primary btn-sm my-3" onclick="location.href='/';">戻る</button>
    <button type="button" class="btn btn-primary btn-sm my-3" data-bs-toggle="modal" data-bs-target="#addImageModal">画像追加</button>
    <table class="table table-bordered">
		<tbody>
			<tr>
				<th class="table-secondary" scope="col">書籍名</th><td th:text="${book.name}"></td>
			</tr>
			<tr>
				<th class="table-secondary" scope="col">著者</th><td th:text="${book.author}"></td>
			</tr>
			<tr>
				<th class="table-secondary" scope="col">概要</th><td th:text="${book.overview}"></td>
			</tr>
			<tr>
				<th class="table-secondary" scope="col">画像</th>
				<td>
					<img th:if="${book.id != null}" th:src="@{/book/image/{id}/(id=${book.id})}" class="img-fluid" style="max-height: 200px;">
				</td>
			</tr>
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr th:each="review : ${book.reviews}">
				<th class="table-secondary" style="white-space:nowrap;">
					<span th:text="${review.reviewDatetimeString()}"></span><br />
					<span th:text="${review.reviewer}"></span>
				</th>
				<td th:text="${review.reviewText}"></td>
			</tr>
		</tbody>
	</table>
	<div th:each="review : ${reviews}">
		<p th:text="${review.bookName}"></p>
		<p th:text="${review.author}"></p>
		<p th:text="${review.reviewText}"></p>
	</div>

    <div class="modal fade" id="addImageModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               	<form method="post" action="/book/image/upload/" enctype="multipart/form-data">
                    <input type="hidden" name="book_id" th:value="${book.id}">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="addImageModalLabel">画像の追加</h4>
	                </div>
	                <div class="modal-body">
	                		<div class="container">
	                			<div class="row">
	                				<div class="col">画像タイトル</div>
	                				<div class="col-8">
										<input type="text" class="form-control" name="title" required>
	                				</div>
	               				</div>
	                			<div class="row mt-3">
	                				<div class="col">画像ファイル</div>
	                				<div class="col-8">
										<input type="file" class="form-control" name="image" accept="image/*" required>
	                				</div>
	                			</div>
	                		</div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
	                    <input type="submit" class="btn btn-primary" value="アップロード">
	                </div>
               	</form>
            </div>
        </div>
    </div>
</body>
</html>
