body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9; /* Optional: light background */
}

.container {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  color: rgb(1, 2, 12);
  background-color: #fff;
  border: 1px solid #ccc; /* Thin border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 8px; /* Rounded corners */
}

.textArea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  direction: ltr;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hashtagPreview {
  text-align: left;
  padding: 8px;
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  min-height: 30px;
  color: #333;
  border-radius: 4px;
}

.hashtag {
  color: #ff6600;
  font-weight: bold;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 20px;
}

.select, .imageInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stampBox {
  margin: 20px 0;
}

.emoji {
  font-size: 30px;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
  border: 2px solid transparent;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #218838;
}
.highlighted-date {
  background-color: #f2e99c;
  color: #787878;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
